%ul.collection
	-@teams.each_with_index do |team,index|
		%li.collection-item.avatar.team-card
			%i.material-icons.circle.lighten-3{class: team_color(index)}
				contacts
			%span.title
				=team.name
			%p.resources-label.text-darken-3{class: "#{team_color(index)}-text"}
				="Resources: #{team.resources}"
			%a#delete-team-btn.secondary-content{href:"#!",data:{team:{id:team.id}}}
				%i.material-icons
					delete
	-unless @team.nil?
		%li.collection-item.avatar.red.lighten-4
			%i.material-icons.circle.red
				error
			%span.title
				Error
			%p
				-@team.errors.each do |error,msg|
					="#{msg}<br>".html_safe
