%div{id:'parent-settings'}
	%div{id:'accordion-settings'}
		%ul{class:'collapsible popout', data:{collapsible:'accordion'}}
			%li
				%div{class:"collapsible-header"}
					%i{class:"medium material-icons"}perm_identity
					Teams
				%div{id:'teams-admin',class:'collapsible-body'}
					#teams-list
						=render partial: 'teams/list_teams'
					%div{class:'col s12 input-field'}
						%input{id:'team-name', type:'text'}
						%label{for: 'team-name'} Name of new Team
					%div{class:'col s12'}
						%a{id:"add-team-btn", class:'waves-effect waves-light btn'}
							%i{class:'large material-icons left'}input
							Add Team
			%li
				%div{class:"collapsible-header"}
					%i{class:"medium material-icons"}grade
					Rules
				%div{class:'collapsible-body'}
					%div{id:'resources-div'}
						%div{class:'col s12 input-field'}
							%input{id:'resources', type:'number', default:1000}
							%label{for:"resources"}Resources
						%a#set-resources{class:'waves-effect waves-light btn'}
							%i{class:'medium material-icons'}toll
							Set Resources
					%div{id:'time-div'}
						%div{class:'col s12 input-field'}
							%input{id:'time', type:'number', default:1000}
							%label{for:'time'} Time per Team
						%a{class:'waves-effect waves-light btn'}
							%i{class:'medium material-icons'}schedule
							Set Time
	%div{class:'col s12'}
		%a{class:'waves-effect waves-light btn'}
			%i{class:'medium material-icons'}settings_power
			END
		%a{class:'waves-effect waves-light btn',href:chosen_map_path(@teams.first.id)}
			%i{class:'medium material-icons'} fast_forward
			PLAY
		%a{class:'waves-effect waves-light btn'}
			%i{class:'medium material-icons'}loop
			RESTART
		%a{class:'waves-effect waves-light btn',href: home_path}
			%i{class:'medium material-icons'}fast_rewind
			HOME
